* {
    margin: 0;
    padding: 2px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
}
#map{
    border: #000000;
    border-style: double;
}
#rollNumberInput {
    height: 1.5em;
    width:10em;
    font-size: 20pt;
    text-align: center;

}

#rollNumberInput input {
    background-color: #FFF
}

.buttonf {
    background-color: #ff0606;
    color: #FFFFFF;
    padding: 15px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    margin: 10px;
    font-size: 20px;
}

.buttond {
    background-color: #06ff7e;
    color: #000000;
    padding: 15px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    margin: 10px;
    font-size: 20px;
}

.container {
    margin: 0%;
    padding: 0;
}
